* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}

.collaboration-message {
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 1rem; /* Increased font size */
  font-weight: bold;
  color: #555;
}

.content {
  text-align: right;
  max-width: 400px;
  padding: 15px;
  margin-top: 70px;
}

h1 {
  font-size: 2.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

p {
  font-size: 1rem;
  line-height: 1.4;
  color: #555;
  margin-bottom: 10px;
}

.content ul {
  list-style-type: none;
  padding: 0;
  margin-top: 15px;
}

.content ul li {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 6px;
}

.quote-container {
  font-size: 120rem; 
  color: #333;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  animation: fadeOut 3s ease-in-out 4s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.content {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
